.nav {
  background-color: #fafdea;
}
.brand {
  text-decoration: none;
  color: rgb(35, 35, 35);
  font-size: 1.5rem;
  padding-right: 100px;
}
.Link {
  text-decoration: none;
  color: rgb(35, 35, 35);
  transition: all 0.3s ease-in-out;
}

link {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}
