.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(250, 252, 235);
  position: sticky;
  top: 0;
  z-index: 1;
}
.brand {
  text-decoration: none;
  color: rgb(35, 35, 35);
  font-size: 1.5rem;
  /* padding-right: 20rem; */
  padding-left: 1rem;
}
.Link {
  text-decoration: none;
  color: rgb(35, 35, 35);
  transition: all 0.3s ease-in-out;
}

.navMenu {
  gap: 1rem;
}

.botonLink {
  width: auto;
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.botonLink:hover {
  background-color: rgb(93, 91, 91, 0.5);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.botonCreateProduct {
  top: 20%;
  left: 20%;
  position: absolute;
}
