.contador{
    display: flex;
    align-items: center;
    flex-direction: column;
}
button{
    background-color:rgb(200, 200, 200) ;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    border: none;
    font-size: 20px;
    width: 35px;
}
.btnAgregar{
    font-size: 15px;
    width: 70%;
    
}
button:hover{
    border: solid black 1px;
}
span{
    margin: 20px 20px;

}

